@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavManager
@implements IAsyncDisposable

<div class="form-group">
    <label>
        User: <input @bind="userInput" : />
    </label>
</div>
<div class="form-group">
    <label>
        Message: <input @bind="messageInput" : />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Versturen</button>

<hr />
<ul>
    @foreach (string message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private string? userInput;
    private string? messageInput;

    protected override async Task OnInitializedAsync()
    {
        //Connecteren naar de hub
        hubConnection = new HubConnectionBuilder().WithUrl(NavManager.ToAbsoluteUri("/chathub")).WithAutomaticReconnect().Build();

        //Dit ontvangt de berichten op de client side
        //Luistert naar berichten op "ReceiveMessage"
        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var formattedMessage = $"{user}: {message}";
            messages.Add(formattedMessage);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }


    //Methode om berichten te sturen naar de hub
    private async Task Send()
    {
        if (hubConnection is not null)
        {
            //Naam van methode in ChatHub klasse
            await hubConnection.SendAsync("SendMessage", userInput, messageInput);
        }    
    }

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    //Gaat de connectie met de server sluiten bij het sluiten van de webpagina
    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}